body {
  font-family: 'Nunito', sans-serif;
}

.button {
  @apply inline-flex items-center cursor-pointer text-sm justify-center h-10 px-4 tracking-wide uppercase font-bold text-white transition duration-200 rounded-xl shadow-md bg-green-primary hover:bg-green-secondary focus:shadow-outline focus:outline-none;
}

.button-wider {
  @apply inline-flex items-center cursor-pointer text-sm justify-center h-10 px-6 tracking-wide uppercase font-bold text-white transition duration-200 rounded-xl shadow-md bg-green-primary hover:bg-green-secondary focus:shadow-outline focus:outline-none;
}

.nav-item {
  @apply font-bold text-base tracking-wide text-gray-100 transition-colors duration-200 hover:text-green-primary;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
